[user]
	# set in ~/.gitconfig_local
[include]
    path = ~/.gitconfig_local
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[core]
	editor = code --wait
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = false